// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p {
  text-align: center;

}

.xoxota {
text-align: center;
}

.treta {
  position: relative;
  left: 525px;
}

.agora {
  position: relative;
  left: 525px;
}
